body {
  margin: 0;
  padding: 0;
}

.conteneur {
  display: flex;
}

.partie-blanche {
  width: 111px;
  height: 100vh;
  background-color: #fff;
}

.partie-grise {
  width: 807px;
  height: 100vh;
  background-color: #ccc;
}

.partie-bleue {
  width: 807px;
  height: 100vh;
  background-color: #3498db;
}

