html{
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  height: auto;
}

.conteneur {
  display: flex;
}



.partie-blanche {
  width: 175px;
  height: 300vh;
  background-color: #fff;
}

.partie-grise {
  width: 1500px;
  height: auto;
  background-color: #ccc;
}

.partie-bleue {
  width: 1500px;
  height: 300vh;
  background-color: #004b72;
}

#export {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 10px; 
}

.export-button {
  display: inline-flex;
  padding: 6px 23px;
  justify-content: center;
  align-items: center;
  gap: 8.272px;
  background-color: #004B72;
  color: #FFF; 
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#export1 {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 10px; 
}

.export1-button {
  display: inline-flex;
  padding: 6px 23px;
  justify-content: center;
  align-items: center;
  gap: 8.272px;
  background-color: white;
  color: #004B72; 
  border: none;
  border-radius: 4px;
  cursor: pointer;
}